<a href="https://colab.research.google.com/github/Amitukra/Hotel-Booking-Analysis/blob/main/Data%20Cleaning/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 4

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/Hotel Bookings.csv')

In [ ]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [ ]:
pd.set_option('display.max_columns', None)  # Show all columns
df.sample(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
70014,City Hotel,1,169,2017,June,23,8,0,3,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,Non Refund,19.0,NaN,0,Transient,170.00,0,0,Canceled,2016-12-21
15187,Resort Hotel,1,253,2015,September,37,12,2,5,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,1,0,A,A,0,Non Refund,96.0,NaN,0,Transient,58.95,0,0,Canceled,2015-06-17
6753,Resort Hotel,1,114,2016,June,27,29,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,124.00,0,0,Canceled,2016-03-08
27427,Resort Hotel,0,39,2016,August,35,21,3,5,2,0.0,0,HB,IRL,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,270.38,0,2,Check-Out,2016-08-29
281,Resort Hotel,0,44,2015,July,28,11,2,3,2,0.0,0,BB,ESP,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,120.60,0,0,Check-Out,2015-07-16
51694,City Hotel,1,5,2016,May,22,24,0,2,2,0.0,0,BB,PRT,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,78.0,0,Transient-Party,110.00,0,0,Canceled,2016-05-20
84334,City Hotel,0,78,2016,February,8,20,2,2,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,28.0,NaN,0,Transient,60.00,0,1,Check-Out,2016-02-24
30530,Resort Hotel,0,31,2016,November,47,19,2,5,2,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,242.0,NaN,0,Transient,43.20,0,1,Check-Out,2016-11-26
55747,City Hotel,1,133,2016,August,34,20,0,1,2,0.0,0,SC,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,94.50,0,0,Canceled,2016-08-19
21401,Resort Hotel,0,23,2016,February,9,27,0,1,2,1.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,E,0,No Deposit,127.0,NaN,0,Transient,38.13,0,1,Check-Out,2016-02-28
99895,City Hotel,0,58,2016,October,42,15,2,3,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,B,A,1,No Deposit,9.0,NaN,0,Transient,110.36,0,2,Check-Out,2016-10-20
36265,Resort Hotel,0,94,2017,May,19,12,1,2,2,0.0,0,HB,GBR,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240.0,NaN,0,Transient,132.00,0,1,Check-Out,2017-05-15
17806,Resort Hotel,0,1,2017,February,6,7,0,3,1,0.0,0,BB,PRT,Corporate,Corporate,1,0,2,A,A,1,No Deposit,NaN,511.0,0,Transient,35.00,0,1,Check-Out,2017-02-10
41553,City Hotel,1,1,2015,August,34,18,0,1,1,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,114.00,0,0,No-Show,2015-08-18
106245,City Hotel,0,45,2017,February,8,20,1,2,2,0.0,0,BB,CHE,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,88.20,0,1,Check-Out,2017-02-23
21305,Resort Hotel,0,0,2016,February,9,25,0,0,1,0.0,0,BB,PRT,Corporate,Corporate,1,0,0,A,E,0,No Deposit,NaN,287.0,0,Transient,0.00,0,0,Check-Out,2016-02-25
113518,City Hotel,0,222,2017,June,22,3,2,3,2,0.0,0,BB,HUN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,8.0,NaN,0,Transient,126.90,1,3,Check-Out,2017-06-08
92584,City Hotel,0,146,2016,July,28,8,0,1,3,0.0,0,BB,CHE,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient-Party,146.70,0,2,Check-Out,2016-07-09
66523,City Hotel,1,135,2017,April,16,21,1,2,2,0.0,0,BB,PRT,Groups,TA/TO,0,0,0,A,A,0,Non Refund,3.0,NaN,0,Transient,90.00,0,0,Canceled,2016-12-07
27075,Resort Hotel,0,11,2016,August,34,14,2,3,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,241.0,NaN,0,Transient,158.73,0,1,Check-Out,2016-08-19
53363,City Hotel,1,61,2016,June,25,18,2,2,3,0.0,0,BB,CHN,Online TA,TA/TO,0,0,0,D,D,2,No Deposit,9.0,NaN,0,Transient,134.53,0,0,Canceled,2016-05-29
4051,Resort Hotel,0,112,2016,February,7,12,0,2,2,0.0,0,Undefined,ESP,Groups,TA/TO,0,0,0,A,A,0,No Deposit,134.0,NaN,0,Transient-Party,70.00,0,0,Check-Out,2016-02-14
20223,Resort Hotel,0,1,2016,January,4,19,0,2,1,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,240.0,NaN,0,Transient,40.00,0,1,Check-Out,2016-01-21
91056,City Hotel,0,113,2016,June,25,13,1,2,2,0.0,0,SC,CHE,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,116.10,0,1,Check-Out,2016-06-16
29840,Resort Hotel,0,28,2016,October,45,31,2,5,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,57.0,NaN,0,Transient,32.31,0,0,Check-Out,2016-11-07
113316,City Hotel,0,80,2017,June,22,2,1,2,2,2.0,0,BB,PRT,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,7.0,NaN,0,Transient,250.96,0,1,Check-Out,2017-06-05
75086,City Hotel,1,283,2015,July,31,27,1,1,2,0.0,0,BB,PRT,Groups,TA/TO,0,1,0,A,A,0,Non Refund,1.0,NaN,0,Transient-Party,62.00,0,0,Canceled,2015-06-29
23116,Resort Hotel,0,1,2016,April,16,16,0,1,2,0.0,0,BB,PRT,Direct,TA/TO,0,0,0,E,E,0,No Deposit,NaN,NaN,0,Transient,95.00,0,2,Check-Out,2016-04-17
47691,City Hotel,1,116,2016,February,10,28,2,1,1,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,134.0,NaN,0,Transient-Party,61.00,0,0,No-Show,2016-02-28
53309,City Hotel,1,290,2016,June,25,17,1,2,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,3.0,NaN,108,Transient-Party,72.00,0,0,Canceled,2016-06-15
111865,City Hotel,0,13,2017,May,20,15,1,1,1,0.0,0,BB,FRA,Corporate,Corporate,0,0,0,A,A,0,No Deposit,NaN,357.0,0,Transient,130.00,0,0,Check-Out,2017-05-17
64554,City Hotel,1,11,2017,March,11,13,1,0,2,0.0,0,BB,PRT,Groups,TA/TO,0,0,0,A,A,1,No Deposit,254.0,NaN,0,Transient-Party,105.00,0,0,Canceled,2017-03-07
18564,Resort Hotel,0,105,2015,November,47,18,2,4,2,0.0,0,Undefined,ESP,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,313.0,NaN,65,Transient-Party,69.00,0,0,Check-Out,2015-11-24
23068,Resort Hotel,0,34,2016,April,16,11,1,3,2,0.0,0,FB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,26.0,NaN,0,Transient,81.16,0,0,Check-Out,2016-04-15
41437,City Hotel,0,5,2015,August,34,16,2,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-08-20
24278,Resort Hotel,0,0,2016,May,21,15,1,0,2,0.0,0,BB,GBR,Direct,TA/TO,1,0,0,A,D,0,Refundable,405.0,405.0,0,Group,70.00,0,0,Check-Out,2016-05-16
10406,Resort Hotel,1,270,2017,March,10,5,2,2,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,26.0,NaN,0,Transient,55.80,0,0,Canceled,2016-06-08
1479,Resort Hotel,1,159,2015,August,36,31,1,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240.0,NaN,0,Transient,101.44,0,0,Canceled,2015-06-17
114591,City Hotel,0,56,2017,June,25,23,0,2,2,0.0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,130.00,0,3,Check-Out,2017-06-25
63232,City Hotel,1,91,2017,February,5,3,0,1,2,0.0,0,SC,CN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,79.20,0,1,Canceled,2017-01-02
61553,City Hotel,1,9,2016,December,51,16,1,2,2,0.0,0,SC,IDN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0,Transient,78.00,0,0,Canceled,2016-12-08
113435,City Hotel,0,145,2017,June,22,3,2,2,3,0.0,0,BB,GRC,Online TA,TA/TO,0,0,0,A,A,1,No Deposit,9.0,NaN,0,Transient,182.00,0,2,Check-Out,2017-06-07
92121,City Hotel,0,49,2016,June,27,27,1,4,2,0.0,0,BB,AUT,Direct,Direct,0,0,0,A,A,1,No Deposit,14.0,NaN,0,Transient,103.50,0,0,Check-Out,2016-07-02
64614,City Hotel,1,34,2017,March,11,13,1,3,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,28.0,NaN,0,Contract,68.00,0,0,Canceled,2017-02-07
59320,City Hotel,1,60,2016,October,44,27,0,1,2,2.0,0,BB,FRA,Direct,Direct,0,0,0,G,G,3,No Deposit,14.0,NaN,0,Transient,234.00,0,0,Canceled,2016-10-25
60319,City Hotel,1,277,2016,November,46,7,1,2,2,0.0,0,BB,PRT,Groups,TA/TO,0,0,0,A,A,0,Non Refund,NaN,NaN,0,Transient,100.00,0,0,Canceled,2016-04-04
107263,City Hotel,0,3,2017,March,10,5,2,3,2,0.0,0,BB,CHE,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,85.0,NaN,0,Transient,76.50,0,0,Check-Out,2017-03-10
61212,City Hotel,1,40,2016,December,50,4,2,2,3,0.0,0,BB,ESP,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,130.90,0,2,Canceled,2016-11-10
42,Resort Hotel,0,16,2015,July,27,2,2,3,2,0.0,0,BB,ESP,Direct,Direct,0,0,0,F,F,0,No Deposit,NaN,NaN,0,Transient,123.00,0,0,Check-Out,2015-07-07
113889,City Hotel,0,109,2017,June,24,12,1,1,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,NaN,0,Transient,153.00,0,0,Check-Out,2017-06-14

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [ ]:
df = df.drop(columns= ['company'])
df.dropna()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.0,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,0,Transient,82.00,0,1,Canceled,2015-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [ ]:
df.shape

(119390, 31)

In [ ]:
df[df['children'].isnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,NaN,0,BB,PRT,Direct,Undefined,0,0,0,B,B,0,No Deposit,14.0,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,NaN,0,BB,PRT,Undefined,Undefined,0,0,0,B,B,0,No Deposit,NaN,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,NaN,0,BB,PRT,Online TA,Undefined,0,0,0,B,B,0,No Deposit,9.0,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [ ]:
df['children'] = df['children'].fillna(df['children'].mean())

In [ ]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0.0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0.0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0.0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [ ]:
df[df['country'].isnull()].shape[0]

488

In [ ]:

df['country'].value_counts().head(10)

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
Name: count, dtype: int64

In [ ]:
df.groupby('meal')['country'].value_counts().head(60)

meal  country
BB    PRT        39556
      GBR         9038
      FRA         8009
      ESP         5939
      DEU         4702
      IRL         2779
      ITA         2456
      BEL         1882
      BRA         1743
      NLD         1720
      USA         1563
      CHE         1324
      AUT         1003
      CN          1002
      SWE          853
      CHN          703
      POL          700
      ISR          555
      NOR          494
      RUS          463
      FIN          389
      ROU          369
      DNK          368
      AUS          312
      AGO          274
      MAR          206
      TUR          200
      LUX          199
      HUN          180
      ARG          160
      JPN          153
      CZE          152
      IND          122
      GRC          116
      KOR          104
      SRB           92
      HRV           80
      DZA           76
      EST           68
      MEX           66
      IRN           65
      BGR           58
      ISL           57
      MOZ           56
      NZL           56
      CHL           54
      LTU           54
      THA           54
      SVK           53
      COL           52
      UKR           52
      ZAF           52
      SVN           47
      CYP           44
      TWN           43
      ARE           40
      LVA           38
      SAU           36
      PHL           32
      SGP           32
Name: count, dtype: int64

In [ ]:
df[df['country'].isnull()].groupby('meal').size().reset_index(name='null_country_count')

        meal  null_country_count
0         BB                 443
1         HB                  29
2         SC                  12
3  Undefined                   4

In [ ]:
df['country'] = df.groupby('meal')['country'].transform(
    lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x
)

In [ ]:
df['country'].isnull().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [ ]:
df['agent'].isnull().sum()

np.int64(16340)

In [ ]:
df['agent'].fillna(0, inplace=True)

<ipython-input-385-c3e50b2f8523>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['agent'].fillna(0, inplace=True)

In [ ]:
df['agent'].isnull().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 28.2+ MB

In [ ]:
print(df['children'].unique())

[ 0.         1.         2.        10.         3.         0.1038899]

In [ ]:
df['children'].value_counts()

children
0.00000     110796
1.00000       4861
2.00000       3652
3.00000         76
0.10389          4
10.00000         1
Name: count, dtype: int64

In [ ]:
df = df[(df['children'] >= 0) & (df['children'] <= 5)]

In [ ]:
df['children'] = df['children'].round().astype(int)

<ipython-input-391-1088a852883e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['children'] = df['children'].round().astype(int)

In [ ]:
print(df['children'].unique())

[0 1 2 3]

In [ ]:
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
78566,City Hotel,0,12,2016,June,25,14,0,2,1,0,0,BB,PRT,Corporate,Corporate,1,0,5,A,A,0,No Deposit,0.0,0,Transient,65.00,0,1,Check-Out,2016-06-16
94298,City Hotel,0,13,2017,January,4,25,0,2,1,0,0,BB,PRT,Corporate,Corporate,1,1,9,A,A,0,No Deposit,0.0,0,Transient,67.00,1,1,Check-Out,2017-01-27
61889,City Hotel,1,12,2016,December,53,28,0,4,2,0,0,BB,NLD,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,0,Transient,125.80,0,2,Canceled,2016-12-18
93125,City Hotel,0,5,2016,July,29,14,0,3,2,0,0,BB,FRA,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,7.0,0,Transient,121.43,0,1,Check-Out,2016-07-17
71177,City Hotel,1,107,2017,June,26,29,0,1,2,0,0,BB,FRA,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9.0,0,Transient,171.00,0,0,Canceled,2017-03-14

In [ ]:
print(f"Hotel Catogry : {df['hotel'].unique()}")
print(f"is_canceled Catogry : {df['is_canceled'].unique()}")
print(f"arrival_date_year Catogry : {df['arrival_date_year'].unique()}")
print(f"arrival_date_month Catogry : {df['arrival_date_month'].unique()}")

Hotel Catogry : ['Resort Hotel' 'City Hotel']
is_canceled Catogry : [0 1]
arrival_date_year Catogry : [2015 2016 2017]
arrival_date_month Catogry : ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']

In [ ]:
for col in df.columns:
    unique_vals = df[col].unique()
    print(f"\nColumn: {col}")
    print(f"Unique values ({len(unique_vals)}): {unique_vals}")
    print(f"Data type: {df[col].dtypes}")

Column: hotel
Unique values (2): ['Resort Hotel' 'City Hotel']
Data type: object

Column: is_canceled
Unique values (2): [0 1]
Data type: int64

Column: lead_time
Unique values (479): [342 737   7  13  14   0   9  85  75  23  35  68  18  37  12  72 127  78
  48  60  77  99 118  95  96  69  45  40  15  36  43  70  16 107  47 113
  90  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364
 324  79  21 109 102   4  98  92  26  73 115  86  52  29  30  33  32   8
 100  44  80  97  64  39  34  27  82  94 110 111  84  66 104  28 258 112
  65  67  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108
 106  31  87  41 304 117  59  53  58 116  42 321  38  56  49 317   6  57
  19  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124
 327 131 460 140 114 139 122 137 126 120 128 135 150 143 151 132 125 157
 147 138 156 164 346 159 160 161 333 381 149 154 297 163 314 155 323 340
 356 142 328 144 336 248 302 175 344 382 146 170 166 338 167 310 148 165
 172 171 145 121 178 305 173 152 354 347 158 185 349 183 352 177 200 192
 361 207 174 330 134 350 334 283 153 197 133 241 193 235 194 261 260 216
 169 209 238 215 141 189 187 223 284 214 202 211 168 230 203 188 232 709
 219 162 196 190 259 228 176 250 201 186 199 180 206 205 224 222 182 210
 275 212 229 218 208 191 181 179 246 255 226 288 253 252 262 236 256 234
 254 468 213 237 198 195 239 263 265 274 217 220 307 221 233 257 227 276
 225 264 311 277 204 290 266 270 294 319 282 251 322 291 269 240 271 184
 231 268 247 273 300 301 267 244 306 293 309 272 242 295 285 243 308 398
 303 245 424 279 331 281 339 434 357 325 329 278 332 343 345 360 348 367
 353 373 374 406 400 326 379 399 316 341 320 385 355 363 358 296 422 390
 335 370 376 375 397 289 542 403 383 384 359 393 337 362 365 435 386 378
 313 351 287 471 462 411 450 318 372 371 454 532 445 389 388 407 443 437
 451 391 405 412 419 420 426 433 440 429 418 447 461 605 457 475 464 482
 626 489 496 503 510 517 524 531 538 545 552 559 566 573 580 587 594 601
 608 615 622 629 396 410 395 423 408 409 448 465 387 414 476 479 467 490
 493 478 504 507 458 518 521 377 444 380 463]
Data type: int64

Column: arrival_date_year
Unique values (3): [2015 2016 2017]
Data type: int64

Column: arrival_date_month
Unique values (12): ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
Data type: object

Column: arrival_date_week_number
Unique values (53): [27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]
Data type: int64

Column: arrival_date_day_of_month
Unique values (31): [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Data type: int64

Column: stays_in_weekend_nights
Unique values (17): [ 0  1  2  4  3  6 13  8  5  7 12  9 16 18 19 10 14]
Data type: int64

Column: stays_in_week_nights
Unique values (35): [ 0  1  2  3  4  5 10 11  8  6  7 15  9 12 33 20 14 16 21 13 30 19 24 40
 22 42 50 25 17 32 26 18 34 35 41]
Data type: int64

Column: adults
Unique values (14): [ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]
Data type: int64

Column: children
Unique values (4): [0 1 2 3]
Data type: int64

Column: babies
Unique values (5): [ 0  1  2 10  9]
Data type: int64

Column: meal
Unique values (5): ['BB' 'FB' 'HB' 'SC' 'Undefined']
Data type: object

Column: country
Unique values (177): ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'POL' 'DEU'
 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST' 'CZE'
 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR' 'UKR'
 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO' 'ISR'
 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM' 'HRV'
 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY' 'KWT'
 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN' 'SYC'
 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB' 'CMR'
 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI' 'SAU'
 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB' 'NPL'
 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA' 'KHM'
 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP' 'GLP'
 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY' 'MLI'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA' 'ATA'
 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
Data type: object

Column: market_segment
Unique values (8): ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
Data type: object

Column: distribution_channel
Unique values (5): ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
Data type: object

Column: is_repeated_guest
Unique values (2): [0 1]
Data type: int64

Column: previous_cancellations
Unique values (15): [ 0  1  2  3 26 25 14  4 24 19  5 21  6 13 11]
Data type: int64

Column: previous_bookings_not_canceled
Unique values (73): [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 22 23 24
 25 27 28 29 30 19 26 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]
Data type: int64

Column: reserved_room_type
Unique values (10): ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
Data type: object

Column: assigned_room_type
Unique values (12): ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
Data type: object

Column: booking_changes
Unique values (21): [ 3  4  0  1  2  5 17  6  8  7 10 16  9 13 12 20 14 15 11 21 18]
Data type: int64

Column: deposit_type
Unique values (3): ['No Deposit' 'Refundable' 'Non Refund']
Data type: object

Column: agent
Unique values (334): [  0. 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]
Data type: float64

Column: days_in_waiting_list
Unique values (128): [  0  50  47  65 122  75 101 150 125  14  60  34 100  22 121  61  39   5
   1   8 107  43  52   2  11 142 116  13  44  97  83   4 113  18  20 185
  93 109   6  37 105 154  64  99  38  48  33  77  21  80  59  40  58  89
  53  49  69  87  91  57 111  79  98  85  63  15   3  41 224  31  56 187
 176  71  55  96 236 259 207 215 160 120  30  32  27  62  24 108 147 379
  70  35 178 330 223 174 162 391  68 193  10  76  16  28   9 165  17  25
  46   7  84 175 183  23 117  12  54  26  73  45  19  42  72  81  92  74
 167  36]
Data type: int64

Column: customer_type
Unique values (4): ['Transient' 'Contract' 'Transient-Party' 'Group']
Data type: object

Column: adr
Unique values (8878): [  0.    75.    98.   ... 266.75 209.25 157.71]
Data type: float64

Column: required_car_parking_spaces
Unique values (5): [0 1 2 8 3]
Data type: int64

Column: total_of_special_requests
Unique values (6): [0 1 3 2 4 5]
Data type: int64

Column: reservation_status
Unique values (3): ['Check-Out' 'Canceled' 'No-Show']
Data type: object

Column: reservation_status_date
Unique values (926): ['2015-07-01' '2015-07-02' '2015-07-03' '2015-05-06' '2015-04-22'
 '2015-06-23' '2015-07-05' '2015-07-06' '2015-07-07' '2015-07-08'
 '2015-05-11' '2015-07-15' '2015-07-16' '2015-05-29' '2015-05-19'
 '2015-06-19' '2015-05-23' '2015-05-18' '2015-07-09' '2015-06-02'
 '2015-07-13' '2015-07-04' '2015-06-29' '2015-06-16' '2015-06-18'
 '2015-06-12' '2015-06-09' '2015-05-26' '2015-07-11' '2015-07-12'
 '2015-07-17' '2015-04-15' '2015-05-13' '2015-07-10' '2015-05-20'
 '2015-05-12' '2015-07-14' '2015-06-17' '2015-05-01' '2015-03-30'
 '2015-07-19' '2015-06-03' '2015-06-26' '2015-05-14' '2015-07-20'
 '2015-05-07' '2015-05-28' '2015-04-13' '2015-03-25' '2015-07-21'
 '2015-06-27' '2015-07-18' '2015-07-23' '2015-06-08' '2015-06-22'
 '2015-06-24' '2015-03-05' '2015-06-01' '2015-04-24' '2015-07-22'
 '2015-05-27' '2015-04-06' '2015-04-11' '2015-07-25' '2015-07-28'
 '2015-07-29' '2015-06-25' '2015-07-24' '2015-06-05' '2015-06-30'
 '2015-06-13' '2015-06-11' '2015-07-30' '2015-07-27' '2015-04-29'
 '2015-06-04' '2015-07-26' '2015-08-01' '2015-08-02' '2015-06-15'
 '2015-04-23' '2015-07-31' '2015-05-25' '2015-08-03' '2015-04-17'
 '2015-08-04' '2015-08-06' '2015-05-15' '2015-05-09' '2015-03-17'
 '2015-05-22' '2015-08-07' '2015-04-04' '2015-08-05' '2015-08-08'
 '2015-08-10' '2015-05-04' '2015-06-06' '2015-08-09' '2015-08-15'
 '2015-08-11' '2015-03-28' '2015-08-14' '2015-08-12' '2015-08-16'
 '2015-05-16' '2015-08-21' '2015-08-13' '2015-08-17' '2015-04-20'
 '2015-08-18' '2015-08-23' '2015-08-22' '2015-08-19' '2015-08-20'
 '2015-08-29' '2015-03-31' '2015-05-30' '2015-08-25' '2015-04-14'
 '2015-08-24' '2015-03-24' '2015-05-21' '2015-08-28' '2015-08-26'
 '2015-08-27' '2015-08-30' '2015-08-31' '2015-09-06' '2015-09-03'
 '2015-09-04' '2015-09-02' '2015-09-01' '2015-09-05' '2015-06-20'
 '2015-09-07' '2015-09-10' '2015-09-11' '2015-09-08' '2015-09-09'
 '2015-09-13' '2015-09-15' '2015-04-10' '2015-01-02' '2014-11-18'
 '2015-09-12' '2015-09-17' '2015-09-14' '2015-04-07' '2015-09-19'
 '2015-09-16' '2015-09-20' '2015-01-18' '2015-10-23' '2015-01-22'
 '2015-01-01' '2015-09-22' '2015-09-24' '2015-09-18' '2015-09-21'
 '2015-09-30' '2015-09-25' '2015-09-27' '2015-09-28' '2015-10-12'
 '2015-09-29' '2015-09-23' '2015-10-01' '2015-09-26' '2015-04-18'
 '2015-10-02' '2015-10-04' '2015-10-08' '2015-10-03' '2015-10-07'
 '2015-10-09' '2015-10-11' '2015-10-05' '2015-10-06' '2015-10-10'
 '2015-10-14' '2015-10-15' '2015-10-18' '2015-10-13' '2015-10-20'
 '2015-10-19' '2015-10-31' '2015-10-16' '2015-10-21' '2015-10-22'
 '2015-10-17' '2015-10-24' '2015-10-25' '2015-10-28' '2015-10-27'
 '2015-10-26' '2015-10-30' '2015-11-05' '2015-10-29' '2015-11-03'
 '2015-11-07' '2015-11-04' '2015-11-01' '2015-11-02' '2015-11-17'
 '2015-11-06' '2015-11-10' '2015-11-08' '2015-11-09' '2015-11-15'
 '2015-11-16' '2015-11-11' '2015-11-12' '2015-11-14' '2015-11-13'
 '2015-11-18' '2015-11-22' '2015-11-19' '2015-11-21' '2015-11-20'
 '2015-11-24' '2015-11-25' '2015-11-23' '2015-11-28' '2015-11-26'
 '2015-11-27' '2015-11-29' '2015-12-04' '2015-12-01' '2015-12-06'
 '2015-12-08' '2015-12-02' '2015-12-03' '2015-12-31' '2015-12-05'
 '2015-12-10' '2015-12-17' '2015-11-30' '2015-12-12' '2015-12-07'
 '2016-01-05' '2015-12-11' '2015-12-13' '2015-12-15' '2015-12-16'
 '2015-12-19' '2015-12-18' '2015-12-26' '2015-12-27' '2015-12-22'
 '2015-12-23' '2015-12-24' '2015-12-29' '2015-12-28' '2015-12-20'
 '2015-12-30' '2016-01-02' '2016-01-01' '2015-12-25' '2016-01-03'
 '2016-01-04' '2016-01-11' '2016-01-07' '2015-12-21' '2016-01-09'
 '2016-01-10' '2016-01-08' '2016-01-06' '2016-01-12' '2016-01-13'
 '2016-01-23' '2016-02-09' '2016-01-15' '2016-01-16' '2016-01-17'
 '2016-01-19' '2016-01-18' '2016-01-21' '2016-01-24' '2016-01-22'
 '2016-01-29' '2016-01-27' '2016-01-25' '2016-03-08' '2016-01-26'
 '2016-01-20' '2016-01-30' '2016-02-01' '2016-02-02' '2016-02-08'
 '2016-02-07' '2016-01-28' '2016-02-05' '2016-02-03' '2016-02-13'
 '2016-02-10' '2016-02-04' '2016-02-12' '2016-02-11' '2016-02-16'
 '2016-02-14' '2016-02-15' '2016-02-20' '2016-02-06' '2016-01-14'
 '2016-02-17' '2016-02-21' '2016-02-24' '2016-02-25' '2016-02-19'
 '2016-02-18' '2016-02-26' '2016-02-23' '2016-03-05' '2016-02-22'
 '2016-02-27' '2016-03-03' '2016-03-24' '2016-03-04' '2016-02-29'
 '2016-03-01' '2016-03-02' '2016-03-30' '2016-03-07' '2016-03-14'
 '2016-03-21' '2016-03-09' '2016-03-12' '2016-03-22' '2016-03-10'
 '2016-03-11' '2016-03-20' '2016-03-15' '2016-03-17' '2016-03-16'
 '2016-03-19' '2016-03-27' '2016-03-18' '2016-03-26' '2016-03-31'
 '2016-03-28' '2016-03-29' '2016-04-01' '2016-03-23' '2016-04-02'
 '2016-03-25' '2016-03-13' '2016-04-04' '2016-04-03' '2016-04-05'
 '2016-04-08' '2016-04-06' '2016-04-09' '2016-04-12' '2016-04-16'
 '2016-04-17' '2016-04-27' '2016-04-14' '2016-04-18' '2016-04-21'
 '2016-04-19' '2016-04-20' '2016-04-10' '2016-04-13' '2016-04-11'
 '2016-04-07' '2016-04-15' '2016-04-22' '2016-04-23' '2016-04-26'
 '2016-04-28' '2016-04-24' '2016-04-25' '2016-04-29' '2016-04-30'
 '2016-05-01' '2016-05-10' '2016-05-02' '2016-05-07' '2016-05-08'
 '2016-05-12' '2016-05-04' '2016-05-06' '2016-05-03' '2016-05-09'
 '2016-05-05' '2016-05-13' '2016-05-14' '2016-05-18' '2016-05-19'
 '2016-05-15' '2016-05-16' '2016-05-11' '2016-05-21' '2016-05-22'
 '2016-05-20' '2016-05-24' '2016-05-25' '2016-05-26' '2016-05-23'
 '2016-05-27' '2016-05-17' '2016-05-29' '2016-05-28' '2016-05-30'
 '2016-05-31' '2016-06-01' '2016-06-03' '2016-06-08' '2016-06-02'
 '2016-06-05' '2016-06-06' '2016-06-13' '2016-06-07' '2016-06-10'
 '2016-06-11' '2016-06-16' '2016-06-12' '2016-06-14' '2016-06-17'
 '2016-06-04' '2016-06-18' '2016-06-21' '2016-06-09' '2016-06-24'
 '2016-06-20' '2016-06-25' '2016-06-22' '2016-06-26' '2016-06-23'
 '2016-07-01' '2016-06-15' '2016-06-28' '2016-07-02' '2016-06-19'
 '2016-06-27' '2016-07-04' '2016-06-30' '2016-07-05' '2016-07-08'
 '2016-07-09' '2016-07-07' '2016-07-12' '2016-06-29' '2016-07-10'
 '2016-07-15' '2016-07-03' '2016-07-16' '2016-07-14' '2016-07-18'
 '2016-07-13' '2016-07-06' '2016-07-20' '2016-07-21' '2016-07-23'
 '2016-07-19' '2016-07-11' '2016-07-28' '2016-07-17' '2016-07-25'
 '2016-07-22' '2016-07-29' '2016-08-03' '2016-08-02' '2016-08-04'
 '2016-08-08' '2016-08-10' '2016-08-01' '2016-08-06' '2016-03-06'
 '2016-08-05' '2016-07-26' '2016-08-07' '2016-07-30' '2016-07-24'
 '2016-08-12' '2016-07-27' '2016-08-13' '2016-08-18' '2016-08-16'
 '2016-08-15' '2016-08-17' '2016-08-11' '2016-07-31' '2016-08-19'
 '2016-09-01' '2016-08-23' '2016-08-26' '2016-08-20' '2016-08-21'
 '2016-09-04' '2016-08-22' '2016-08-27' '2016-08-25' '2016-08-09'
 '2016-09-05' '2016-08-24' '2016-09-10' '2016-08-29' '2016-09-09'
 '2016-08-30' '2016-09-13' '2016-08-31' '2016-09-14' '2016-09-12'
 '2016-09-15' '2016-08-14' '2016-09-02' '2016-09-08' '2016-09-19'
 '2016-09-16' '2016-09-07' '2016-09-21' '2016-09-06' '2016-09-22'
 '2016-09-17' '2016-09-20' '2016-09-03' '2016-09-26' '2016-09-23'
 '2016-09-18' '2016-09-29' '2016-10-02' '2016-10-01' '2016-09-27'
 '2016-09-25' '2016-10-05' '2016-09-11' '2016-09-30' '2016-10-09'
 '2016-10-03' '2016-10-06' '2016-10-11' '2016-09-24' '2016-10-13'
 '2016-09-28' '2016-10-08' '2016-10-07' '2016-10-16' '2016-08-28'
 '2016-10-17' '2016-10-18' '2016-10-10' '2016-10-04' '2016-10-15'
 '2016-10-19' '2016-10-21' '2016-10-12' '2016-10-24' '2016-10-26'
 '2016-10-23' '2016-10-20' '2016-10-25' '2016-10-27' '2016-10-28'
 '2016-10-30' '2016-10-29' '2016-11-01' '2016-11-04' '2016-10-14'
 '2016-11-07' '2016-11-03' '2016-11-10' '2016-11-14' '2016-11-02'
 '2016-10-31' '2016-11-11' '2016-11-08' '2016-11-05' '2016-11-25'
 '2016-11-09' '2016-11-20' '2016-11-21' '2016-10-22' '2016-11-22'
 '2016-11-16' '2016-11-23' '2016-11-17' '2016-11-06' '2016-11-15'
 '2016-11-13' '2016-11-12' '2016-11-27' '2016-11-19' '2016-11-30'
 '2016-11-18' '2016-12-02' '2016-12-04' '2016-11-29' '2016-12-07'
 '2016-11-28' '2016-12-03' '2016-12-06' '2016-11-24' '2016-12-08'
 '2016-12-05' '2016-12-10' '2016-12-13' '2016-12-14' '2016-12-16'
 '2016-12-15' '2016-12-17' '2016-12-19' '2016-12-21' '2016-12-20'
 '2016-12-22' '2016-12-23' '2016-12-24' '2016-12-01' '2016-12-27'
 '2016-12-29' '2016-12-30' '2016-12-12' '2017-01-02' '2016-12-11'
 '2017-01-03' '2017-01-04' '2017-01-01' '2016-12-26' '2017-01-06'
 '2016-12-28' '2016-12-18' '2017-01-10' '2017-01-11' '2017-01-07'
 '2017-01-12' '2017-01-16' '2017-01-14' '2017-01-13' '2017-01-05'
 '2017-01-17' '2017-01-20' '2016-12-09' '2017-01-26' '2016-12-31'
 '2017-01-23' '2017-01-27' '2017-01-28' '2017-01-19' '2017-01-25'
 '2017-01-24' '2017-01-29' '2017-01-18' '2016-12-25' '2017-01-15'
 '2017-01-21' '2017-02-01' '2017-02-02' '2017-01-31' '2017-02-03'
 '2017-02-04' '2017-02-06' '2017-02-07' '2017-02-08' '2017-01-30'
 '2017-02-09' '2017-01-09' '2017-02-11' '2017-02-10' '2017-02-12'
 '2017-02-13' '2017-02-14' '2017-02-16' '2017-02-17' '2017-02-18'
 '2017-02-19' '2017-02-20' '2017-02-15' '2017-02-21' '2017-02-22'
 '2017-02-26' '2017-02-23' '2017-02-24' '2017-02-25' '2017-02-28'
 '2017-03-05' '2017-02-27' '2017-03-03' '2017-03-06' '2017-03-02'
 '2017-03-08' '2017-03-09' '2017-03-10' '2017-03-07' '2017-03-12'
 '2017-03-13' '2017-03-14' '2017-03-01' '2017-03-18' '2017-03-17'
 '2017-03-24' '2017-03-22' '2017-03-26' '2017-03-27' '2017-03-11'
 '2017-03-28' '2017-03-29' '2017-03-30' '2017-03-31' '2017-03-19'
 '2017-01-22' '2017-04-02' '2017-03-20' '2017-04-03' '2017-01-08'
 '2017-03-23' '2017-04-05' '2017-02-05' '2017-04-04' '2017-03-15'
 '2017-04-07' '2017-03-25' '2017-04-08' '2017-04-06' '2017-03-21'
 '2017-04-10' '2017-04-01' '2017-04-11' '2017-04-13' '2017-04-15'
 '2017-04-12' '2017-03-04' '2017-04-19' '2017-04-22' '2017-04-20'
 '2017-05-02' '2017-04-09' '2017-04-23' '2017-04-24' '2017-04-16'
 '2017-04-28' '2017-04-18' '2017-04-26' '2017-04-25' '2017-04-17'
 '2017-04-21' '2017-05-03' '2017-05-04' '2017-03-16' '2017-05-05'
 '2017-04-29' '2017-04-14' '2017-05-08' '2017-04-27' '2017-05-11'
 '2017-05-01' '2017-05-10' '2017-05-13' '2017-05-06' '2017-05-14'
 '2017-05-16' '2017-04-30' '2017-05-15' '2017-05-07' '2017-05-09'
 '2017-05-17' '2017-05-21' '2017-05-12' '2017-05-22' '2017-05-24'
 '2017-05-23' '2017-05-25' '2017-05-26' '2017-05-28' '2017-05-27'
 '2017-05-29' '2017-05-19' '2017-05-31' '2017-05-20' '2017-06-01'
 '2017-05-30' '2017-06-02' '2016-11-26' '2017-06-04' '2017-06-05'
 '2017-06-06' '2017-06-07' '2017-05-18' '2017-06-09' '2017-06-10'
 '2017-06-11' '2017-06-12' '2017-06-14' '2017-06-08' '2017-06-16'
 '2017-06-13' '2017-06-03' '2017-06-24' '2017-06-20' '2017-06-19'
 '2017-06-21' '2017-06-26' '2017-06-27' '2017-06-22' '2017-06-28'
 '2017-06-15' '2017-06-29' '2017-06-30' '2017-06-18' '2017-07-04'
 '2017-07-08' '2017-07-05' '2017-07-03' '2017-07-07' '2017-07-01'
 '2017-07-06' '2017-07-11' '2017-07-12' '2017-06-23' '2017-07-13'
 '2017-07-02' '2017-07-10' '2017-07-14' '2017-07-15' '2017-07-16'
 '2017-07-18' '2017-07-17' '2017-07-19' '2017-07-20' '2017-07-21'
 '2017-06-25' '2017-06-17' '2017-07-24' '2017-07-26' '2017-07-09'
 '2017-07-27' '2017-07-28' '2017-07-31' '2017-07-29' '2017-07-22'
 '2017-08-02' '2017-08-01' '2017-08-03' '2017-08-04' '2017-07-25'
 '2017-07-23' '2017-08-09' '2017-08-10' '2017-07-30' '2017-08-07'
 '2017-08-13' '2017-08-05' '2017-08-14' '2017-08-08' '2017-08-16'
 '2017-08-17' '2017-08-15' '2017-08-18' '2017-08-20' '2017-08-22'
 '2017-08-06' '2017-08-25' '2017-08-26' '2017-08-23' '2017-08-11'
 '2017-08-27' '2017-08-21' '2017-08-29' '2017-08-31' '2017-08-12'

In [ ]:
df['meal'].value_counts()

meal
BB           92309
HB           14463
SC           10650
Undefined     1169
FB             798
Name: count, dtype: int64

In [ ]:
df['meal'] = df['meal'].replace('Undefined','Unknown_Meal')

<ipython-input-397-1f966a0b6f61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['meal'] = df['meal'].replace('Undefined','Unknown_Meal')

In [ ]:
df['meal'].unique()

array(['BB', 'FB', 'HB', 'SC', 'Unknown_Meal'], dtype=object)

In [ ]:
df['distribution_channel'].value_counts()

distribution_channel
TA/TO        97869
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: count, dtype: int64

In [ ]:

df = df[df['distribution_channel'] != 'Undefined']

In [ ]:
df['distribution_channel'].value_counts()

distribution_channel
TA/TO        97869
Direct       14645
Corporate     6677
GDS            193
Name: count, dtype: int64

In [ ]:
df['agent'] =df['agent'].round().astype(int)

<ipython-input-402-242f4013d513>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agent'] =df['agent'].round().astype(int)

In [ ]:

df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'],format='%Y-%m-%d')

<ipython-input-403-e365caac0328>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'],format='%Y-%m-%d')

In [ ]:
print(df['reservation_status_date'].dtype)

datetime64[ns]

In [ ]:
df['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 119384, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119384 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119384 non-null  object
 1   is_canceled                     119384 non-null  int64
 2   lead_time                       119384 non-null  int64
 3   arrival_date_year               119384 non-null  int64
 4   arrival_date_month              119384 non-null  object
 5   arrival_date_week_number        119384 non-null  int64
 6   arrival_date_day_of_month       119384 non-null  int64
 7   stays_in_weekend_nights         119384 non-null  int64
 8   stays_in_week_nights            119384 non-null  int64
 9   adults                          119384 non-null  int64
 10  children                        119384 non-null  int64
 11  babies                          119384 non-null  int64
 12  meal                            119384 non-null  object
 13  country                         119384 non-null  object
 14  market_segment                  119384 non-null  object
 15  distribution_channel            119384 non-null  object
 16  is_repeated_guest               119384 non-null  int64
 17  previous_cancellations          119384 non-null  int64
 18  previous_bookings_not_canceled  119384 non-null  int64
 19  reserved_room_type              119384 non-null  object
 20  assigned_room_type              119384 non-null  object
 21  booking_changes                 119384 non-null  int64
 22  deposit_type                    119384 non-null  object
 23  agent                           119384 non-null  int64
 24  days_in_waiting_list            119384 non-null  int64
 25  customer_type                   119384 non-null  object
 26  adr                             119384 non-null  float64
 27  required_car_parking_spaces     119384 non-null  int64
 28  total_of_special_requests       119384 non-null  int64
 29  reservation_status              119384 non-null  object
 30  reservation_status_date         119384 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(18), object(11)
memory usage: 29.1+ MB

In [ ]:
for col in df.columns:
    unique_vals = df[col].unique()
    print(f"\nColumn: {col}")
    print(f"Unique values ({len(unique_vals)}): {unique_vals}")
    print(f"Data type: {df[col].dtypes}")

Column: hotel
Unique values (2): ['Resort Hotel' 'City Hotel']
Data type: object

Column: is_canceled
Unique values (2): [0 1]
Data type: int64

Column: lead_time
Unique values (479): [342 737   7  13  14   0   9  85  75  23  35  68  18  37  12  72 127  78
  48  60  77  99 118  95  96  69  45  40  15  36  43  70  16 107  47 113
  90  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364
 324  79  21 109 102   4  98  92  26  73 115  86  52  29  30  33  32   8
 100  44  80  97  64  39  34  27  82  94 110 111  84  66 104  28 258 112
  65  67  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108
 106  31  87  41 304 117  59  53  58 116  42 321  38  56  49 317   6  57
  19  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 129 124
 327 131 460 140 114 139 122 137 126 120 128 135 150 143 151 132 125 157
 147 138 156 164 346 159 160 161 333 381 149 154 297 163 314 155 323 340
 356 142 328 144 336 248 302 175 344 382 146 170 166 338 167 310 148 165
 172 171 145 121 178 305 173 152 354 347 158 185 349 183 352 177 200 192
 361 207 174 330 134 350 334 283 153 197 133 241 193 235 194 261 260 216
 169 209 238 215 141 189 187 223 284 214 202 211 168 230 203 188 232 709
 219 162 196 190 259 228 176 250 201 186 199 180 206 205 224 222 182 210
 275 212 229 218 208 191 181 179 246 255 226 288 253 252 262 236 256 234
 254 468 213 237 198 195 239 263 265 274 217 220 307 221 233 257 227 276
 225 264 311 277 204 290 266 270 294 319 282 251 322 291 269 240 271 184
 231 268 247 273 300 301 267 244 306 293 309 272 242 295 285 243 308 398
 303 245 424 279 331 281 339 434 357 325 329 278 332 343 345 360 348 367
 353 373 374 406 400 326 379 399 316 341 320 385 355 363 358 296 422 390
 335 370 376 375 397 289 542 403 383 384 359 393 337 362 365 435 386 378
 313 351 287 471 462 411 450 318 372 371 454 532 445 389 388 407 443 437
 451 391 405 412 419 420 426 433 440 429 418 447 461 605 457 475 464 482
 626 489 496 503 510 517 524 531 538 545 552 559 566 573 580 587 594 601
 608 615 622 629 396 410 395 423 408 409 448 465 387 414 476 479 467 490
 493 478 504 507 458 518 521 377 444 380 463]
Data type: int64

Column: arrival_date_year
Unique values (3): [2015 2016 2017]
Data type: int64

Column: arrival_date_month
Unique values (12): ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
Data type: object

Column: arrival_date_week_number
Unique values (53): [27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21
 22 23 24 25 26]
Data type: int64

Column: arrival_date_day_of_month
Unique values (31): [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
Data type: int64

Column: stays_in_weekend_nights
Unique values (17): [ 0  1  2  4  3  6 13  8  5  7 12  9 16 18 19 10 14]
Data type: int64

Column: stays_in_week_nights
Unique values (35): [ 0  1  2  3  4  5 10 11  8  6  7 15  9 12 33 20 14 16 21 13 30 19 24 40
 22 42 50 25 17 32 26 18 34 35 41]
Data type: int64

Column: adults
Unique values (14): [ 2  1  3  4 40 26 50 27 55  0 20  6  5 10]
Data type: int64

Column: children
Unique values (4): [0 1 2 3]
Data type: int64

Column: babies
Unique values (5): [ 0  1  2 10  9]
Data type: int64

Column: meal
Unique values (5): ['BB' 'FB' 'HB' 'SC' 'Unknown_Meal']
Data type: object

Column: country
Unique values (177): ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'POL' 'DEU'
 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST' 'CZE'
 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR' 'UKR'
 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO' 'ISR'
 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM' 'HRV'
 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY' 'KWT'
 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN' 'SYC'
 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB' 'CMR'
 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI' 'SAU'
 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB' 'NPL'
 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA' 'KHM'
 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP' 'GLP'
 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY' 'MLI'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA' 'ATA'
 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
Data type: object

Column: market_segment
Unique values (7): ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Aviation']
Data type: object

Column: distribution_channel
Unique values (4): ['Direct' 'Corporate' 'TA/TO' 'GDS']
Data type: object

Column: is_repeated_guest
Unique values (2): [0 1]
Data type: int64

Column: previous_cancellations
Unique values (15): [ 0  1  2  3 26 25 14  4 24 19  5 21  6 13 11]
Data type: int64

Column: previous_bookings_not_canceled
Unique values (73): [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 20 21 22 23 24
 25 27 28 29 30 19 26 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72]
Data type: int64

Column: reserved_room_type
Unique values (10): ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
Data type: object

Column: assigned_room_type
Unique values (12): ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
Data type: object

Column: booking_changes
Unique values (21): [ 3  4  0  1  2  5 17  6  8  7 10 16  9 13 12 20 14 15 11 21 18]
Data type: int64

Column: deposit_type
Unique values (3): ['No Deposit' 'Refundable' 'Non Refund']
Data type: object

Column: agent
Unique values (334): [  0 304 240 303  15 241   8 250 115   5 175 134 156 243 242   3 105  40
 147 306 184  96   2 127  95 146   9 177   6 143 244 149 167 300 171 305
  67 196 152 142 261 104  36  26  29 258 110  71 181  88 251 275  69 248
 208 256 314 126 281 273 253 185 330 334 328 326 321 324 313  38 155  68
 335 308 332  94 348 310 339 375  66 327 387 298  91 245 385 257 393 168
 405 249 315  75 128 307  11 436   1 201 183 223 368 336 291 464 411 481
  10 154 468 410 390 440 495 492 493 434  57 531 420 483 526 472 429  16
 446  34  78 139 252 270  47 114 301 193 182 135 350 195 352 355 159 363
 384 360 331 367  64 406 163 414 333 427 431 430 426 438 433 418 441 282
 432  72 450 180 454 455  59 451 254 358 469 165 467 510 337 476 502 527
 479 508 535 302 497 187  13   7  27  14  22  17  28  42  20  19  45  37
  61  39  21  24  41  50  30  54  52  12  44  31  83  32  63  60  55  56
  89  87 118  86  85 210 214 129 179 138 174 170 153  93 151 119  35 173
  58  53 133  79 235 192 191 236 162 215 157 287 132 234  98  77 103 107
 262 220 121 205 378  23 296 290 229  33 286 276 425 484 323 403 219 394
 509 111 423   4  70  82  81  74  92  99  90 112 117 106 148 158 144 211
 213 216 232 150 267 227 247 278 280 285 289 269 295 265 288 122 294 325
 341 344 346 359 283 364 370 371  25 141 391 397 416 404 299 197  73 354
 444 408 461 388 453 459 474 475 480 449]
Data type: int64

Column: days_in_waiting_list
Unique values (128): [  0  50  47  65 122  75 101 150 125  14  60  34 100  22 121  61  39   5
   1   8 107  43  52   2  11 142 116  13  44  97  83   4 113  18  20 185
  93 109   6  37 105 154  64  99  38  48  33  77  21  80  59  40  58  89
  53  49  69  87  91  57 111  79  98  85  63  15   3  41 224  31  56 187
 176  71  55  96 236 259 207 215 160 120  30  32  27  62  24 108 147 379
  70  35 178 330 223 174 162 391  68 193  10  76  16  28   9 165  17  25
  46   7  84 175 183  23 117  12  54  26  73  45  19  42  72  81  92  74
 167  36]
Data type: int64

Column: customer_type
Unique values (4): ['Transient' 'Contract' 'Transient-Party' 'Group']
Data type: object

Column: adr
Unique values (8878): [  0.    75.    98.   ... 266.75 209.25 157.71]
Data type: float64

Column: required_car_parking_spaces
Unique values (5): [0 1 2 8 3]
Data type: int64

Column: total_of_special_requests
Unique values (6): [0 1 3 2 4 5]
Data type: int64

Column: reservation_status
Unique values (3): ['Check-Out' 'Canceled' 'No-Show']
Data type: object

Column: reservation_status_date
Unique values (926): <DatetimeArray>
['2015-07-01 00:00:00', '2015-07-02 00:00:00', '2015-07-03 00:00:00',
 '2015-05-06 00:00:00', '2015-04-22 00:00:00', '2015-06-23 00:00:00',
 '2015-07-05 00:00:00', '2015-07-06 00:00:00', '2015-07-07 00:00:00',
 '2015-07-08 00:00:00',
 ...
 '2015-03-13 00:00:00', '2015-05-05 00:00:00', '2015-03-29 00:00:00',
 '2015-06-10 00:00:00', '2015-04-27 00:00:00', '2014-10-17 00:00:00',
 '2015-01-20 00:00:00', '2015-02-17 00:00:00', '2015-03-10 00:00:00',
 '2015-03-23 00:00:00']
Length: 926, dtype: datetime64[ns]
Data type: datetime64[ns]

In [ ]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,0,Transient,151.20,0,2,Check-Out,2017-09-07